/***********************************************************************                                                                                                                                                         
                                                                                                    
   Theme Name:      mol_servo_child_theme
   Description:     Mercedes-Benz of Loveland Service Template
   Version:         0.1
   Author:          AMSI
   Template:        servo

***********************************************************************/

/**  //////////  PALATE  //////////
NISSAN - #8a8a8a 
NISSAN-MED - #fff
NISSAN-DARK - #8a1232
PRIMARY - #00b4f1
PRIMARY-DARK - #0080c6
SUCCESS - #38B265
SUCCESS-DARK - #0B8237
BG-LIGHT - #f5f5f5
**/

/* A/B TEST CLASSES */
.schedule-cta-test-01 {};

/** GENERAL **/
.bg-main { background-color: #8a8a8a ; color: #fff; }
.bg-main-med { background-color: #fff; }

/** TYPOGRAPHY **/
blockquote { border-color: #8a8a8a ;  }
.fa-ul .fa.fa-check { color: #38B265; }
/** LINKS **/
a, a.list-group-item, a.list-group-item:focus, a.list-group-item:hover { color: #8a8a8a ; }
a:focus, a:hover { color: #fff; }
.btn-main { background-color: #176db7 ; border-color: #176db7; }
.btn-main:hover, .btn-secondary { background-color: #11528a; border-color: #11528a; }
.btn-secondary:hover, .btn-secondary:focus { background-color: #8a1232; border-color: #8a1232; }
.btn-main-outline { background-color: transparent; border-color: #8a8a8a ; color: #333 ; }
.btn-main-outline:focus, .btn-main-outline:hover { background-color: #333 ; border-color: #333 ; color: #fff; }
.btn-success, .btn-success-outline:focus, .btn-success-outline:hover { background-color: #38B265; border-color: #38B265; }
.btn-success:focus, .btn-success:hover { background-color: #0B8237; border-color: #0B8237; }
.btn-success-outline { background-color: transparent; border-color: #38B265; color: #38B265; }
.dropdown-menu { border-bottom: #176db7 5px solid; }
.text-main { color: #8a8a8a ; }
.text-primary { color: #00b4f1; }
/* NAV */
nav.navbar.navbar-default { border-top: #ddd 0px solid!important; margin-bottom: 0; background-color: #333!important;}
.navbar-default .navbar-nav>li>a { color: #fff!important; }
/** HEADER **/
header .larger { color: #fff ; }
header.pad-vert-2x.hidden-xs { background-color: black!important }
/** FOOTER **/
footer { border-top: #333  10px solid; }
button.close { color: #8a8a8a ; }
/** HOME **/
.oem blockquote { border-color: #8a8a8a ; }
/** ONE TO ONE **/
#one-to-one .round { margin: 0 auto 1rem; padding: 1.2rem 0 0; }
#one-to-one h4 { font-weight: 700; margin: 0; }
/** CARFAX **/
h1.carfax-txt, h2.carfax-txt, h3.carfax-txt, h4.carfax-txt { color: #3777bc; }
.carfax-bodytxt { color: #333; }
.carfax-btn, .carfax-btn-alt { color: white; background-color: #f58d17; border-color: #f58d17; font-weight: bold; }
.carfax-btn:hover { color:#fff; background-color: #3777bc; border-color: #3777bc; }
.carfax-btn-alt:hover { color:#fff; background-color: transparent!important; border: 1px solid #fff!important; }
/** CARFAX BANNER **/
#carfax-banner > section.header { background-color: #0085ba; }
/** COUPON **/
.coupon { border-color: #8a8a8a ; color: #333 ; }
.coupon .disclaimer { border-color: #8a8a8a ; color: #333; }
/* MBRACE */
h1.mbrace-txt, h2.mbrace-txt, h3.mbrace-txt, h4.mbrace-txt { color: #6d6c6c; }
.mbrace-bodytxt { color: #333; }
.mbrace-btn, .mbrace-btn-alt { color: white; background-color: #176db7; border-color: #176db7; font-weight: bold; }
.mbrace-btn:hover { color:#fff; background-color: #3777bc; border-color: #3777bc; }
.mbrace-btn-alt:hover { color:#fff; background-color: transparent!important; border: 1px solid #fff!important; }

/**  //////////  SMALL  //////////  **/
@media only screen and (min-width : 768px) {
    /** NAV **/
    .navbar-default .nav.navbar-nav>li.li-right>a { background-color: #8a8a8a ; border-color: #8a8a8a ; color: #fff; }
    .navbar-default .nav.navbar-nav>li.li-right>a:hover { background-color: #fff; border-color: #fff; }
    /** STAFF **/
    #staff .bio { min-height: 395px; margin-bottom: 1rem; }
}

/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

ul.nav.navbar-nav.navbar-right.hidden-xs { background-color: #d22138!important; border-color: #d22138!important;}
ul.nav.navbar-nav.navbar-right.hidden-xs>li>a{color: #ffffff!important;}

@media (min-width: 768px) { .navbar-right { margin-right: 0px!important; } }


/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

/**  //////////  STORE SPECIFIC  //////////  **/
/** BACKGROUNDS **/
#brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-xs.jpg'); }
#batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg'); }
#contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-banner-xs.jpg'); }
#faq > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-faq-banner-xs.jpg'); }
#home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-xs.jpg'); }
#home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg'); }
#learning-center > section.header { background: linear-gradient(rgba(10,93,120,.7), rgba(10,93,120,.7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg'); }
#carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-xs.jpg'); }
#mbrace > section.header { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/servo/assets/bg-mbrace-xs.jpg'); }
#service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-xs.jpg'); }
#oil>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-oil-change-xs.jpg);background-size: cover;}
#firstclass>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-firstclass-xs.jpg);background-size: cover;}
.local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/servo/assets/bg-contact-banner-xs.jpg'); }
.usp-2 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-shuttle-xs.jpg'); }
.usp-9 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-loaner-sm.jpg'); }
.usp-16 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-fluid-sm.jpg'); }
.usp-17 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-brakecomponents-sm.jpg'); }

/** ///// SMALL ///// **/
@media only screen and (min-width : 768px) {
/** BACKGROUNDS **/
  #brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-sm.jpg'); }
  #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-sm.jpg'); }
  #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-sm.jpg'); }
  #faq > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-faq-banner-sm.jpg'); }
  #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-sm.jpg'); }
  #home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg'); }
  #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg'); }
  #carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-sm.jpg'); }
  #mbrace > section.header { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/servo/assets/bg-mbrace-sm.jpg'); }
  #service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-sm.jpg'); }
  #oil>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-oil-change-sm.jpg);background-size: cover;}
  #firstclass>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-firstclass-sm.jpg);background-size: cover;}
  .local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/servo/assets/bg-contact-sm.jpg'); }
}

/** ///// MEDIUM ///// **/
@media only screen and (min-width : 992px) {
    /** BACKGROUNDS **/
    #brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-md.jpg'); }
  #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-md.jpg'); }
  #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-md.jpg'); }
  #faq > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-faq-banner-md.jpg'); }
  #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-md.jpg'); }
  #home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg'); }
  #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg'); }
  #carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-md.jpg'); }
  #mbrace > section.header { background: url('/wp-content/themes/servo/assets/bg-mbrace-md.jpg'); }
  #service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-md.jpg'); }
  #oil>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-oil-change-md.jpg);background-size: cover;}
  #firstclass>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-firstclass-md.jpg);background-size: cover;}
  .local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/servo/assets/bg-contact-md.jpg'); }
}

/** ///// LARGE ///// **/
@media only screen and (min-width : 1200px) {
    /** BACKGROUNDS **/
   #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-lg.jpg'); }
   #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-lg.jpg'); }
   #faq > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-faq-banner-lg.jpg'); }
   #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-lg.jpg'); }
   #home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/uploads/sites/26/2017/06/MBOLfrontage.lg_.jpg'); }
   #learning-center > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg'); }
   .local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/servo/assets/bg-contact-lg.jpg'); background-position: 50% 50%; }
}

#batteries > section.header, #contact > section.header, #home > section.header, #home .oem, #learning-center > section.header, #one-to-one > section.header, #service section.rewards, #faq > section.header, #carfax > section.header, .local, #mbrace > section.header, #service > section.header, #firstclass>section.header, #brakes>section.header  { background-position: center; background-size: cover; border: 0; color: #fff; }

/**  //////////  PLEASE ADD OVERRIDES BELOW THIS LINE  //////////  **/

.bg-main-med {
    background-color: #000;
}

.bg-main-drk {
    background-color: #333;
}

@media only screen and (min-width: 1001px) {
    section.text-center.coupons {
        background-color: #f5f5f5!important;
    }

}

/** MB Overrides */

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #3c3c3c!important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #3c3c3c!important;
}

.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
  color: white!important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #333!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent!important;
}

.navbar-default .navbar-toggle {
    border-color: #333;
}

.btn-primary-outline:focus, .btn-primary-outline:hover, .btn-primary:active, .btn-primary:active.btn-primary:focus, .btn-primary:focus, .btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}

a.btn.btn-block.btn-primary {
  background-color: #176db7;
}

.btn-primary:hover {
    color: #fff;
    background-color: #11528a!important;
    border-color: #11528a!important;
}

.nav_parts > a::before {
  content: "";
}

a.btn.btn-block.btn-white-outline { display: none; }

section.text-white.oem {
  background-color: #176db7;
}

section#whybuyvideo {
    background-color: #333;
}

a.mainsitecta { background-color: #176db7; }
a.mainsitecta:hover { background-color: #11528a!important; }


